:root{
    --clr--primary-100: hsl(300, 18%, 97%);
    --clr--neutral-100: hsl(300, 3%, 68%);

    --clr--secondary-100: hsl(0, 88%, 44%);

    --clr--dark-100: hsl(0, 0%, 0%);
        
        --fw-regular:400 ;
        --fw-bold: 600 ;
}

*, *::before, *::after{
    box-sizing: border-box
}

*{
    margin: 0;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

h1, h2, h3{
    line-height: 1;
    font-size: 1rem;
}

body{
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: var(--fw-regular);
    color: var(--clr--neutral-100);
    background-color: var(--clr--dark-100);
    font-size: .75rem;
}
/* .container, .myDetails, #content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-bottom: 50px;
    repeat(auto-fit, minmax(450px, 1fr))
    filter: drop-shadow(0 0 10px #333);
} */

section.myDetails{
    display: flex;
    align-items: center;
    justify-content: center;

}

.imageHolder{
    width: 50%;
    padding: 2rem 12rem;
    display: block;
}

img{
    display: block;
}

.myDetails_context{
    /* background-color: green; */
    padding: 2rem;
    display: grid;
    gap: 2rem;
    /* width: 100%; */
}

#currentDay{
    color: var(--clr--secondary-100);
}

.linksContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.linksContainer a{
    text-decoration: none;
    background-color: var(--clr--secondary-100);
    padding: .75rem;
    border-radius: 5px;
    margin-top: 1rem;
    color: var(--clr--dark-100);
}

.linksContainer a:hover{
    opacity: .8;
    color: var(--clr--neutral-100);
    transition: all .3s ease;
}

.tech_content{
    padding: 2rem;
}

.tech_content h1{
    /* margin-bottom: 1rem; */
    font-size: 1rem;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-content: center;
    margin: 0 auto;
    
}

.content_vision{
    /* background-color: blue; */
    /* border: 1px solid var(--clr--secondary-100); */
    width: 18rem;
    padding: 2rem;
    /* margin-top: 1.5rem; */
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto;
    box-shadow: 1px 1px 5px 5px black;
}

.content_vision:hover{
    transition: all .3s ease;
    filter: drop-shadow(0px 10px 50px hsl(0, 88%, 44%));
    cursor: pointer;
    
}

.content_vision h2{
    margin-bottom: 10px;
    /* text-decoration: underline; */
}


















@media (max-width:900px){
    body{
        font-size: .75rem;
    }
    .imageHolder{
        padding: 2rem 5rem;
    }

    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px){
    body{
        font-size: .75rem;
    }
    section.myDetails{
        flex-direction: column;
    }

    .myDetails_context{
        display: grid;
        grid-template-columns: repeat(2, 1fr)
    }

    .userDetail{
        grid-row-start: 1;
        grid-row-end: 2;
        /* grid-column: 1/2; */
    }
    .imageHolder{
        padding:  2rem 1rem;
    }

    .linksContainer{
        grid-row: 2;
        /* grid-column: 2/1; */
        flex-direction: column;
        margin-top: 0px;
        /* gap: 0; */
    }

    .linksContainer a{
        /* padding: .25rem; */
        width: 100%;
        margin-top: 0px;
    }

    .content{
        grid-template-columns: repeat(1, 1fr);
        place-content: center;
        margin: 0 auto;
    }
}